*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  width:100%;
}
.clr{
  clear: both;
}

.header{
  background-color: rgb(27, 25, 25); 
  color: white;
  width: 100%;
  height: 50px;
  
}
nav{
	width: 100%;
	height:40px;
 
}
.ul li{
	display: inline;
	list-style: none;
  float: left;
  text-align: center;
  margin-left:20px;
}
.nav-div{
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
}
.nav-div-1{
  margin-left:20%;
  display:inline-block ;
  margin-top:10px;
  width:40%;
}
.logo{
  float: left;
  margin: auto 1%;
 

}
.search{
  float: right;
  margin-bottom: 18px;
}
.download{
  float: right;
  margin:9px 11px auto 4px;
  
}
.main{
  width: 100%;
 
}
.sec-1{
  width: 100%;
  height: 95vh;
  background-color: rgb(27, 25, 25);
  color: white;
}
.l-sec{
  float:left; 
  display: inline-block;
  width: 50%;
  margin:5%;
  margin-top: 13%;
}
h1{
  font-size: 40px;
}
.p-1{
  margin-top: 4%;
  margin-bottom: 4%;
}
.btn-1{
  padding: 12px 16px;
  background-image: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
  outline: none;
  border:none;
  color:white;
  border-radius: 7px;
  font-size:17px;
}
.btn{
  background-color:black ;
  padding: 12px 16px;
  outline: none;
  border:none;
  color:white;
  border-radius: 7px;
  font-size:17px;
}

.pic{
  float:right;
  margin:3%;
}
.sec-2{
  width: 99%;
  height:65vh;
  margin:0.5%;
  
}
.sec-2-div-1{
  float: left;
  width: 30%;
  margin-left: 1%;
  text-align: center;
  
}
.sec-2-div-2{
  float: left;
  width: 30%;
  margin-left: 4.5%;
  text-align: center;
  
}
.sec-2-div-3{
  float: right;
  width: 30%;
  margin-left: 1%;
  text-align: center;
  
}

h2{
  font-size: 30px;
  margin-bottom:25px;
  margin-top: 4%;
}
.p-2{
  margin-bottom:25px;
  margin-top: 10px;
}
.sec-3{
  text-align: center;
  width: 100%;
  height: 38vh;
}
.sec-3-div-1{
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 50px;
}
.sec-3-div-2{
  float: right;
  width: 50%;
  text-align: left;
  padding-left: 50px;
}
.user-1{
  margin-right: 32px;
}
.user-2{
  margin-left: 23px;
}
.btn-2{
  margin-top: 20px;
}
footer{
  width:100%;
  height: 10vh;
  border-top: 2px solid black;
}
.f-div-1{
float: left;
margin-top: 1%;
margin-left: 30px;
width:40%;
}
.twitter{
  margin-right: 20px;
}
.fb{
  margin-right: 20px;
}
.inst{
  margin-right: 20px;
}
.google{
  margin-right: 20px;
}
.f-div-2{
float:right;
margin-top: 1%;
}
.f-p-1{
  float: left;
  text-align: center;
  margin-top:10px;
}

/* SignUp Design */

.sign-h1{
  font-size: 55px;
  color: #4169e1;
}
span{
  color: #4169e1;
}
.div-1{
  background-color: rgb(35, 56, 151);
  width: 100%;
  height: 100vh;
}
.div-2{
  background-color: black;
  width: 80%;
  height: 80vh;
  color: white;
  margin:5%;
  margin-left: 9%;
  display: inline-block;
  border-radius: 35px;
}
.div-2-1{
  float:left; 
  display: inline-block;
  width: 40%;
  margin:5%;

  margin-top: 10%;
}
.div-2-2{
  float:right; 
  display: inline-block;
  width: 35%;
  margin:6% 5% 5% 5%;
  border: 2.5px solid #4169e1;
  padding: 10px;
  border-radius: 20px;
}
.btn-4{
  color:white;
  font-size: 20px;
	width:23%;
	border:none;
	padding: 6px 0px;
	margin-top: 15px;
  border-radius: 20px;
  background-image: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
  
}
.h2-1{
  text-align: center;
}

.form-1{
	height: 325px;
	padding: 5px 10px 0px 4.9%;
  

}
input{
  border-radius: 20px;
  border:none;
  outline:none;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}


.fname{
	margin: 0px 0 0 45px;
	padding:8px 25px 6px 25px; 
	font-size: 20px;
  
	

}
.lname{
	margin: 15px 0 0 45px;
		padding:8px 25px 6px 25px; 
	font-size: 20px;
	
}
.email{
	margin: 15px 0 0 45px;
		padding:8px 25px 6px 25px; 
	font-size: 20px;

}
.username{
	margin: 15px 0 0 45px;
	padding:8px 25px 6px 25px; 
	font-size: 20px;
	
}
.radio-1{
	margin: 25px 0 0 112px;
	padding:8px 25px 0px 25px; 
  font-size: 50px;
	
}
.radio-2{
	margin: 10px 0 0 35px;
	padding:8px 25px 0px 25px; 
}
.dob{

	margin: 15px 0 0 45px;
	padding:5px 49px 6px 50px; 
	font-size: 20px;
 
}
.pass-1{
	
	margin: 15px 0 0 44px;
	padding:8px 25px 6px 25px; 
	font-size: 20px;
}

.btn-3{
	font-size: 20px;
	width:23%;
	border:none;
	padding: 6px 0px;
	margin-top: 15px;
  margin-left: 38%;
  border-radius: 20px;
  background-image: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
}



/* Sign IN */
.form-2{
  height: 200px;
	padding: 5px 10px 0px 4.9%;
}
.div-2-3{
  float:right; 
  display: inline-block;
  width: 35%;
  margin:5%;
  margin-top: 8%;
  border: 2.5px solid #4169e1;
  padding: 10px;
  border-radius: 20px;
}



.pass-2{
	
	margin: 15px 0 0 44px;
	padding:8px 25px 6px 25px; 
	font-size: 20px;
}
.email-1{
	
	margin: 15px 0 0 44px;
	padding:8px 25px 6px 25px; 
	font-size: 20px;
}
.p-5{
  width:90%;
	padding: 4px 0px;
	margin: 0vh 4.9% 2% 4.9%;
}

.a{
  text-decoration: none;
  color: #4169e1;
  font-size: 20px;
  font-weight: bold;
}

.a-1{
	width:90%;
	padding: 4px 0px;
	margin: 0vh 4.9%;
	
}
.a-2{
	width:100%;
	padding: 4px 0px;
	margin: 0vh 0% 0vh 12%;

}

/*   Home Button   */

.btn-5{
  padding: 12px 16px;
  background-image: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
  outline: none;
  border:none;
  color:white;
  border-radius: 7px;
  font-size:13px;
  margin-top: 10px;
  margin-left: 10px;
}


a{
  text-decoration: none;
  color: white;
}




/* Todo List Design */

.todo-div {
  background: rgb(35, 56, 151);
  width: 100%;
  text-align: center;
}
.todo-div-1{
  background-color: black;
  width: 80%;
  height: 80vh;
  color: white;
  margin:5%;
  margin-left: 9%;
  display: inline-block;
  border-radius: 35px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.h1 {
  margin: 32px 0;
  color: white;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #4169e1;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #4169e1;
}

.todo-button.edit {
  background: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(to left bottom, #6495ed 0%, #4169e1 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

